


@media screen and (min-width: 800px) {
    .button-comfirm{
        /* okay */
        display: block; 
    }
    .button{
        /* ok */
        display: none;
    }
}
@media screen and (min-width: 400px) {
    .button-comfirm{
        display: none;
    }
    .button{
        display: block;
    }

    
}